:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(2, 2%, 2%);
  --clr-gray:#424242;
}

a {
  cursor: pointer;
}

.gray-txt {
  color: var(--clr-gray);
}

.white-txt {
  color: var(--clr-white);
}
.white-txt .white {
  background-color: var(--clr-white);
  height: 1rem;
  width: 1rem;
  color: var(--clr-black);
  padding: 0.2rem;
}

.txt-xl {
  font-size: 3.5rem;
}

.txt-lg {
  font-size: 1.6rem;
}

.txt-md {
  font-size: 1rem;
}

.txt-sm {
  font-size: 0.8rem;
}

.tagline {
  max-width: 50ch;
}

.inline-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex .feature {
  max-width: 500px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
body .landing-nav {
  background-color: var(--clr-black);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
body .landing-nav .logo {
  max-width: 300px;
  margin: auto 0;
}
body .landing-nav a {
  color: var(--clr-white);
  text-decoration: none;
}
body .landing-nav a:hover {
  text-decoration: underline;
}
body nav {
  background: var(--clr-black);
  width: fit-screen;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0 3rem;
  border: none;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
body nav .active {
  display: none;
}
body nav a {
  text-decoration: none;
  color: white;
}
body .nav-btn:hover .main, body .nav-btn:active .main {
  display: none;
}
body .nav-btn:hover .active, body .nav-btn:active .active {
  display: inline-block;
  background: var(--clr-white);
  border-radius: 0.2rem;
  padding: 0.2rem;
}
body .bottom-nav {
  display: flex;
  background: var(--clr-black);
  align-items: center;
  justify-content: space-around;
  height: 2rem;
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
}
body .bottom-nav a {
  text-decoration: none;
}

main {
  height: 100dvh;
  padding: 1.2rem;
}
main .pricing {
  padding: 1rem;
  border-radius: 1rem;
  background: var(--clr-black);
  color: var(--clr-white);
  max-width: 600px;
  margin-bottom: 1.5rem;
}
main .pricing button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: var(--clr-white);
  border-radius: 0.5rem;
}
main h1 {
  max-width: 18ch;
}
main a {
  color: var(--clr-black);
  font-weight: bold;
}
main .search-bar {
  display: flex;
  margin: 1rem auto;
  justify-content: space-between;
  max-width: 40rem;
}
main .search-bar input {
  border: 0.1rem solid var(--clr-black);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  width: 70%;
}
main .search-bar button {
  background: none;
  border: none;
}
main .products {
  display: flex;
  flex-wrap: wrap;
}
main .product-card {
  margin-inline: auto;
  margin-bottom: 1.3rem;
  border: solid 0.1rem var(--clr-black);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  max-width: 25rem;
}
main .product-card .product {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .product-card .product .product-img {
  height: 7rem;
}
main .product-card .product .product-txt {
  font-size: 1.2rem;
}
main .product-card .actions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .product-card .actions button {
  background: none;
  border: none;
}

@media (min-width: 550px) {
  .flex {
    flex-direction: row;
    gap: 1rem;
  }
}
@media (min-width: 1000px) {
  main {
    padding-inline: 5rem;
  }
}/*# sourceMappingURL=style.css.map */